[submodule "middleware"]
	path = middleware
	url = git@github.com:Emotion2Emoji-LMU-ACP-WS24-25/Backend-Interface.git
[submodule "imageGeneration"]
	path = imageGeneration
	url = git@github.com:Emotion2Emoji-LMU-ACP-WS24-25/Backend-StableDiffusion.git
[submodule "visionModel"]
	path = visionModel
	url = git@github.com:Emotion2Emoji-LMU-ACP-WS24-25/Backend-PaliGemma-2.git
[submodule "llm"]
	path = llm
	url = https://github.com/Emotion2Emoji-LMU-ACP-WS24-25/Backend-Mistral
[submodule "frontend"]
	path = frontend
	url = https://github.com/Emotion2Emoji-LMU-ACP-WS24-25/Frontend-Flutter
